!jest.config.js
.cache
.cache/.vuepress/dist
.cdk.staging
.dynamodb/
.env
.env.test
.eslintcache
.fusebox/
.grunt
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.tern-port
.yarn-integrity
*.d.ts
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
bower_components
build/Release
cdk.out
coverage
dist
jspm_packages/
lerna-debug.log*
lib-cov
logs
node_modules
node_modules/
node.js/node_modules*.js
npm-debug.log*
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
typings/
yarn-debug.log*
yarn-error.log*
