version: "3.4"
services:
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - nodejs
    ports:
      - 8080:8080
    logging:
      driver: none

  nodejs:
    build: .
    volumes:
      - ./node.js/main.js:/nodejsapp/main.js
      - ./vanilla.js:/nodejsapp/vanilla.js
    environment:
      REDIS_URL: redis://redis
    entrypoint: nodemon main.js
    scale: 1
    depends_on:
      - redis

  redis:
    image: "redis:alpine"
    logging:
      driver: none
